body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
}

.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    z-index: 100;
}

.logo {
    height: 50px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}

.nav-tags {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    max-width: 700px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    justify-content: space-around;
}

.nav-items {
    margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.nav-btn {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
}

.header-title {
    flex: 1;
    max-width: 900px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
}

h1 {
    font-size: 50px;
    line-height: 1.35;
}

.highlight {
    position: relative;
    color: rgb(0, 255, 68)
}

h4 {
    font-size: 25px;
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 20px;
    font-family: inherit;
    color: rgb(0, 255, 68);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.header__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(20px);
}


/* sections */

.section {
    padding: 15rem 3rem;
    border-top: 1px solid #ddd;
    transition: transform 1s, opacity 1s;
}

.section__title {
    max-width: 55rem;
    margin: 0 auto 8rem auto;
}

.section-feature {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 255, 68);
    margin-bottom: 1rem;
}

.section--header{
    font-size: 3rem;
    line-height: 1.1;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 12rem;
}

.features__img {
    width: 100%;
    border-radius: 20px;
}

.features__feature {
    align-self: center;
    justify-self: center;
    width: 100%;
    font-size: 1.7rem;
}

.features__header {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.features--text{
    font-size:18px;
    color:grey;
}


/* operations */

.operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: #fff;
}

.operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
}

.operations__tab-container {
    display: flex;
    justify-content: center;
}

.operations__tab--1 {
    background-color:yellow;
}

.operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
}

.btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.operations__tab--3:hover {
    background-color: var(--color-tertiary-darker);
}

